<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ content_for_header }}
    {{ 'base-health.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

    {%- liquid
      assign body_font_400 = settings.type_body_font | font_modify: 'weight', '400'
      assign body_font_500 = settings.type_body_font | font_modify: 'weight', '500'
      assign body_font_600 = settings.type_body_font | font_modify: 'weight', '600'
    %}

    {% style %}
      {{ body_font_400 | font_face: font_display: 'swap' }}
      {{ body_font_500 | font_face: font_display: 'swap' }}
      {{ body_font_600 | font_face: font_display: 'swap' }}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
        body {
           font-family: {{settings.type_body_font.family}}
         }
    {% endstyle %}

    <title>The Health Project</title>
  </head>
  <body>
    {% section 'health-header' %}

    <main>
      {{ content_for_layout }}
    </main>

    {% # theme-check-disable %}
    {{ 'swiper-bundle.min.js' | asset_url | script_tag }}
  </body>
</html>
