{{ 'health-info.css' | asset_url | stylesheet_tag }}

<style>
  .info-{{ section.id }} {
    margin-bottom: {{ section.settings.margin_bottom }}px;

    & .line {
        display: {% if section.settings.show_lines %}block{% else %}none{% endif %};
        margin: {{ section.settings.space_between_blocks }}px 0;

        @media (min-width: 1366px) {
          margin: {{ section.settings.space_between_blocks_desk }}px 0;
        }
    }

    & .info-image {
      border-radius: {{ section.settings.border_radius }}px;
    }

    @media (min-width: 1366px) {
      & .info-image {
        order: 1;
      }

      & .title {
        order: 0;
      }

      & .paragraph {
        order: 3
      }
    }
  }
</style>

<div class="info info-{{ section.id }}">
  {% for block in section.blocks %}
    <div class="line"></div>
    <div class="wrapper">
      <img class="info-image" src="{{ block.settings.image | image_url }}" alt="image" width="645" height="305">

      <h2 class="title">{{ block.settings.title }}</h2>

      <p class="paragraph">{{ block.settings.paragraph | strip_html }}</p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Health info",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "space_between_blocks",
      "label": "Space between blocks",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40
    },
    {
      "type": "range",
      "id": "space_between_blocks_desk",
      "label": "Space between blocks on desktop",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40
    },
    {
      "type": "checkbox",
      "id": "show_lines",
      "label": "Show lines between info blocks",
      "default": true
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Images corner radius",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 100
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "max": 100,
      "min": 0,
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Info block",
      "type": "info_block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "paragraph",
          "label": "Paragraph"
        }
      ]
    }
  ]
}
{% endschema %}
