{{ 'health-faq.css' | asset_url | stylesheet_tag }}

<style>
  .faq-{{ section.id }} {
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }
</style>

{% javascript %}
  const summaries = document.querySelectorAll('.faq .summary-wrapper');
  const details = document.querySelectorAll('.faq .details');

  summaries.forEach((summary) => {
    summary.addEventListener('click', (e) => {
      const summaryId = e.currentTarget.dataset.blockId;

      details.forEach((detail) => {
        if (detail.dataset.blockId === summaryId) {
          detail.classList.toggle('active');
        }
      });

      const plus = summary.querySelector('.plus');
      const minus = summary.querySelector('.minus');
      plus.classList.toggle('active');
      minus.classList.toggle('active');
    });
  });
{% endjavascript %}

<div id="{{ section.settings.anchor_link }}" class="faq faq-{{ section.id }}">
  <h2 class="title">{{ section.settings.title }}</h2>
  <p class="description">{{ section.settings.description }}</p>

  {% for block in section.blocks %}
    {%- if forloop.first -%}<div class="line"></div>{%- endif -%}

    <div class="block-item">
      <div class="summary-wrapper" data-block-id="{{ block.id }}">
        <img class="dot" src="{{ 'health-dot.svg' | asset_url }}" alt="dot icon" width="12" height="12">

        {%- if forloop.index < 10 -%}
          <div class="numbers">0{{ forloop.index }}</div>
        {%- else -%}
          <div class="numbers">{{ forloop.index }}</div>
        {%- endif -%}

        <div class="summary">{{ block.settings.summary }}</div>

        <button class="open-close">
          <img class="plus active" src="{{ 'plus.svg' | asset_url }}" alt="open icon" width="24" height="24">
          <img class="minus" src="{{ 'minus.svg' | asset_url }}" alt="open icon" width="24" height="24">
        </button>
      </div>

      <p class="details" data-block-id="{{ block.id }}">{{ block.settings.details }}</p>
    </div>

    <div class="line"></div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "anchor_link",
      "label": "Anchor link"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "min": 0,
      "max": 100,
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "summary",
          "label": "Summary"
        },
        {
          "type": "text",
          "id": "details",
          "label": "Details"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Health FAQ",
      "category": "custom"
    }
  ]
}
{% endschema %}
