<style>
  .footer-{{ section.id }} {
    padding: 20px;

    & .nav-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      margin-bottom: 30px;

      & ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px 35px;
        list-style: none;

        & a {
            color: var(--color-grey-text);
        }
      }
    }

    & .socials {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & .social-block {
        height: 172px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 12px;
        background-color: var(--color-card)
      }

      & .title {
        color: var(--color-grey-text);
      }

      & a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        color: var(--color-accent-blue);
      }

      & .arrow-wrapper {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
</style>

<div class="footer footer-{{ section.id }}">
  <div class="nav-wrapper">
    <img src="{{ section.settings.logo | image_url }}" alt="health logo" loading="lazy" width="151" height="35">
    <ul>
      {% for link in section.settings.menu.links %}
        <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="socials">
    {% for block in section.blocks %}
      <div class="social-block">
        <p class="title">{{ block.settings.title }}</p>

        <a href="https://{{ block.settings.link }}">
          <span>{{ block.settings.link }}</span>
          <div class="arrow-wrapper">
            <img src="{{ 'health-arrow-ne.svg' | asset_url }}" alt="north east arrow" width="14" height="14">
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Health footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Select logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ],
  "blocks": [
    {
      "name": "Social",
      "type": "social",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
