{{ 'health-top-sellers.css' | asset_url | stylesheet_tag }}

<style>
   .top-sellers-{{ section.id }} {
    & .swiper-top-sellers-controls {
      display: {% if section.settings.show_slider_controls %}flex{% else %}none{% endif %};
    }
  }
</style>

{% javascript %}
  new Swiper('.swiper-top-sellers', {
    direction: 'horizontal',
    loop: true,
    slidesPerView: 1,
    spaceBetween: 14,
    navigation: {
      nextEl: '.swiper-top-sellers-next',
      prevEl: '.swiper-top-sellers-prev',
    },
    breakpoints: {
      768: {
        slidesPerView: 2.2,
        spaceBetween: 20,
      },
      1366: {
        slidesPerView: 'auto',
        spaceBetween: 0,
        noSwiping: true,
        allowSlidePrev: false,
        allowSlideNext: false,
      },
    },
  });
{% endjavascript %}

<div id="{{ section.settings.anchor_link }}" class="top-sellers-{{ section.id }}">
  <h2 class="section-title">{{ section.settings.title }}</h2>
  <p class="section-description">{{ section.settings.description }}</p>

  <div class="swiper-top-sellers">
    <div class="swiper-wrapper">
      {% for product in collections[section.settings.collection].products %}
        {% if product.metafields.custom.top_seller != blank %}
          {% assign color = product.metafields.custom.top_seller %}
        {% else %}
          {% assign color = '#333333' %}
        {% endif %}

        <a
          class="swiper-slide"
          style="background-color: {{ color }}14"
          href="{{ product.url }}"
        >
          <div>
            <div class="product-title-wrapper">
              <h3 class="product-title" style="color: {{ color }};">{{ product.title }}</h3>
              <div class="arrow-wrapper">
                <img
                  class="arrow"
                  src="{{ 'health-arrow-ne.svg' | asset_url }}"
                  alt="arrow icon"
                  width="28"
                  height="28"
                >
              </div>
            </div>
            <p style="color: {{ color }};">
              {{ product.description | strip_html }}
            </p>
          </div>
          <img class="product-image" src="{{ product | image_url }}" alt="" width="380" height="auto">
        </a>
      {% endfor %}
    </div>

    <div class="swiper-top-sellers-controls">
      <div class="swiper-top-sellers-prev"></div>
      <div class="swiper-top-sellers-next"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Health top sellers",
  "class": "top-sellers",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Top sellers"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam."
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "show_slider_controls",
      "label": "Show slider controls"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top sellers margin top",
      "max": 100,
      "min": 0,
      "default": 20
    },
    {
      "type": "text",
      "id": "anchor_link",
      "label": "Anchor link"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Top sellers margin bottom",
      "max": 100,
      "min": 0,
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Health Top sellers",
      "category": "custom"
    }
  ]
}
{% endschema %}
