{{ 'health-collection.css' | asset_url | stylesheet_tag }}

<style>
  .collections-{{ section.id }} {
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;

    & .swiper-controls {
      display: {% if section.settings.show_slider_controls %}flex{% else %}none{% endif %};
    }
  }
</style>

{% javascript %}
  new Swiper('.swiper-collection', {
    direction: 'horizontal',
    loop: true,
    slidesPerView: 1.2,
    spaceBetween: 8,
    freeMode: true,
    navigation: {
      nextEl: '.swiper-collection-next',
      prevEl: '.swiper-collection-prev',
    },
    breakpoints: {
      768: {
        slidesPerView: 2.2,
      },
      1366: {
        slidesPerView: 3.2,
      },
      1920: {
        slidesPerView: 4.2,
      },
    },
  });

  const collections = document.querySelectorAll('.collections .collection-title');

  collections.forEach((collection) => {
    collection.addEventListener('click', () => {
      collections.forEach((collection) => collection.classList.remove('active'));
      collection.classList.add('active');

      const collectionId = collection.dataset.collectionId;
      const descriptions = document.querySelectorAll('.collections .description');

      descriptions.forEach((description) =>
        description.dataset.collectionId === collectionId
          ? description.classList.add('active')
          : description.classList.remove('active')
      );

      const swiperCollections = document.querySelectorAll('.collections .swiper-collection');
      swiperCollections.forEach((swiperCollection) =>
        swiperCollection.dataset.collectionId === collectionId
          ? swiperCollection.classList.add('active')
          : swiperCollection.classList.remove('active')
      );
    });
  });
{% endjavascript %}
<div class="collections-{{ section.id }}">
  <div>
    <div class="titles-wrapper">
      {%- for collection in section.settings.collections -%}
        <div>
          <button
            class="collection-title {% if forloop.first %}active{% endif %}"
            data-collection-id="{{ collection.id }}"
          >
            {{ collection.title }}
          </button>
          <span class="count">{{ collection.all_products_count }}</span>
        </div>
      {%- endfor -%}
    </div>

    {% for collection in section.settings.collections %}
      <p
        class="description {% if forloop.first %}active{% endif %}"
        data-collection-id="{{ collection.id }}"
      >
        {{ collection.description | strip_html }}
      </p>
    {% endfor %}

    {% for collection in section.settings.collections %}
      <div
        class="swiper-collection {% if forloop.first %}active{% endif %}"
        data-collection-id="{{ collection.id }}"
      >
        <div class="swiper-wrapper">
          {% for product in collection.products %}
            <div class="swiper-slide">
              {{ product | image_url: width: 380 | image_tag }}

              <div class="title">{{ product.title }}</div>
              <div class="weight">
                {{ product.variants.first.weight }}
                {{ product.variants.first.weight_unit }}
              </div>
              <div class="price">{{ product.price | money }}</div>
            </div>
          {% endfor %}
        </div>

        <div class="swiper-controls">
          <div class="swiper-collection-prev"></div>
          <div class="swiper-collection-next"></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Health collections",
  "class": "collections",
  "tag": "section",
  "settings": [
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Collections"
    },
    {
      "type": "checkbox",
      "id": "show_slider_controls",
      "label": "Show slider controls"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Collections margin bottom",
      "max": 100,
      "min": 0,
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Health Collections",
      "category": "custom"
    }
  ]
}
{% endschema %}
