<style>
  .text-{{ section.id }} {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: {{ section.settings.margin_bottom }}px;

    & .wrapper {
      padding: 0 22px;
      display: flex;
      flex-direction: column;
      gap: {{ section.settings.space_between_blocks }}px 10px;

      @media (min-width: 768px) {
        grid-template-rows: auto;
        display: grid;

        {%- if section.settings.columns == 'one' -%}
          display: flex;
          flex-direction: column;
        {% else %}
          grid-template-columns: 50% 50%;
        {%- endif -%}
      }
    }

    & .title {
      grid-area: auto / 1;
    }

    & .paragraph {
      grid-area: auto / 2;
    }
  }
</style>

<div class="text-{{ section.id }}">
  <div class="wrapper">
    {% for block in section.blocks %}
      {% if block.type == 'title' %}
        <h2
          class="title"
          style="
            text-align: {{ block.settings.text_alignment }};
            font-size: {{ block.settings.title_size }}px;
            color: {{ block.settings.title_color }};
            font-weight: {{ block.settings.font_weight }};
            margin-bottom: {{ block.settings.margin_bottom }}px;
          "
        >
          {{ block.settings.title }}
        </h2>
      {% endif %}

      {% if block.type == 'paragraph' %}
        <p
          class="paragraph"
          style="
            text-align: {{ block.settings.text_alignment }};
            font-size: {{ block.settings.title_size }}px;
            color: {{ block.settings.title_color }};
            font-weight: {{ block.settings.font_weight }};
            margin-bottom: {{ block.settings.margin_bottom }}px;
          "
        >
          {{ block.settings.paragraph }}
        </p>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Health rich text",
  "settings": [
    {
      "type": "select",
      "id": "columns",
      "label": "Columns",
      "options": [
        { "label": "One column", "value": "one" },
        { "label": "Two column", "value": "two" }
      ]
    },
    {
      "type": "range",
      "id": "space_between_blocks",
      "label": "Space between blocks",
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "min": 0,
      "max": 100,
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "label": "Text alignment"
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "Text size",
          "min": 6,
          "max": 60,
          "default": 16
        },
        {
          "type": "select",
          "id": "title_color",
          "label": "Text color",
          "options": [
            {
              "value": "var(--color-black)",
              "label": "Black"
            },
            {
              "value": "var(--color-white)",
              "label": "White"
            },
            {
              "value": "var(--color-grey-text)",
              "label": "Grey"
            },
            {
              "value": "var(--color-accent-blue)",
              "label": "Blue"
            }
          ]
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "400",
              "label": "Normal"
            },
            {
              "value": "500",
              "label": "Medium"
            },
            {
              "value": "600",
              "label": "Semibold"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "label": "Margin bottom",
          "min": 0,
          "max": 100,
          "default": 0
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "Paragraph"
        },
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "label": "Text alignment"
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "Text size",
          "min": 6,
          "max": 60,
          "default": 16
        },
        {
          "type": "select",
          "id": "title_color",
          "label": "Text color",
          "options": [
            {
              "value": "var(--color-black)",
              "label": "Black"
            },
            {
              "value": "var(--color-white)",
              "label": "White"
            },
            {
              "value": "var(--color-grey-text)",
              "label": "Grey"
            },
            {
              "value": "var(--color-accent-blue)",
              "label": "Blue"
            }
          ]
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "400",
              "label": "Normal"
            },
            {
              "value": "500",
              "label": "Medium"
            },
            {
              "value": "600",
              "label": "Semibold"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "label": "Margin bottom",
          "min": 0,
          "max": 100,
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Health text",
      "category": "custom"
    }
  ]
}
{% endschema %}
