{{ 'health-faq.css' | asset_url | stylesheet_tag }}

<style>
  .faq-{{ section.id }} {
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }
</style>

{% javascript %}
  const summaries = document.querySelectorAll('.faq .summary-wrapper');
  const details = document.querySelectorAll('.faq .details');

  summaries.forEach((summery) => {
    summery.addEventListener('click', (e) => {
      const summaryId = summery.dataset.summaryId;
      const summary = document.querySelector(`.faq .summary[data-summary-id="${summaryId}"]`);
      const summaryIcons = summery.querySelectorAll('img');
      summaryIcons.forEach((summaryIcon) => {
        summaryIcon.classList.toggle('active');
      });
      summary.classList.toggle('active');
    });
  });
{% endjavascript %}

<div class="faq faq-{{ section.id }}">
  <h2 class="title">{{ section.settings.title }}</h2>
  <p class="description">{{ section.settings.description }}</p>

  {% for block in section.blocks %}
    {%- if forloop.first -%}
      <div class="line"></div>
    {%- endif -%}

    <div class="faq-item">
      <div class="summary-wrapper" data-summary-id="{{ block.id }}">
        <div class="dots">
          <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6.5" r="6" fill="#42ABDE"/>
          </svg>
        </div>

        <div class="numbering">
          {%- if forloop.index < 10 -%}
            <span>0{{ forloop.index }}</span>
          {%- else -%}
            <span>{{ forloop.index }}</span>
          {%- endif -%}
          <span></span>
        </div>

        <h3 class="details">{{ block.settings.details }}</h3>

        <button>
          <img class="plus active" src="{{ 'plus.svg' | asset_url }}" alt="plus" width="24" height="24">
          <img class="minus" src="{{ 'minus.svg' | asset_url }}" alt="plus" width="24" height="24">
        </button>
      </div>

      <p class="summary" data-summary-id="{{ block.id }}">{{ block.settings.summary }}</p>
    </div>

    <div class="line"></div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "min": 0,
      "max": 100,
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "details",
          "label": "Details"
        },
        {
          "type": "text",
          "id": "summary",
          "label": "Summary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Health FAQ",
      "category": "custom"
    }
  ]
}
{% endschema %}
