{{ 'health-ultimate.css' | asset_url | stylesheet_tag }}

<style>
  .ultimate-{{ section.id }} {
    margin-top: 100px; {%- comment -%} TODO: remove {%- endcomment -%}
    margin-bottom: {{  section.settings.margin_bottom }}px;

    & .swiper-ultimate-controls {
      display: {% if section.settings.show_slider_controls %}flex{% else %}none{% endif %};
    }

    & .swiper-ultimate-products {
      @media (min-width: 1366px) {
          flex-direction: {{ section.settings.slider_controls_position }};
        }
      }

    {%- if section.settings.image_position == 'left' -%}
      @media (min-width: 1366px) {
        & .slide-content {
          grid-template-areas:
          'product-media title'
          'product-media description' !important;
        }
      }
    {%- endif -%}
  }
</style>

{% javascript %}
  const isMobile = () => window.innerWidth < 1366;

  const productsSwiper = new Swiper('.swiper-ultimate-products', {
    direction: isMobile() ? 'horizontal' : 'vertical',
    spaceBetween: 8,
    scrollbar: {
      el: '.swiper-ultimate-scrollbar',
    },
    navigation: {
      prevEl: '.swiper-ultimate-prev',
      nextEl: '.swiper-ultimate-next',
    },
    on: {
      resize: () => {
        productsSwiper.changeDirection(isMobile() ? 'horizontal' : 'vertical');
      },
    },
  });

  const variantsSwiper = new Swiper('.swiper-ultimate-variants', {
    direction: 'horizontal',
    spaceBetween: 14,
    slidesPerView: 1,
    pagination: {
      el: '.swiper-ultimate-variants-pagination',
      clickable: true,
      renderBullet: function (index, className) {
        const variantColor = this.slides[index].dataset.variantColor;
        return `<span class="${className}" style="background-color: ${variantColor}"></span>`;
      },
    },
    on: {
      touchStart: () => {
        productsSwiper.allowTouchMove = false;
      },
      touchEnd: () => {
        productsSwiper.allowTouchMove = true;
      },
    },
  });
{% endjavascript %}

<div id="{{ section.settings.anchor_link }}" class="ultimate-{{ section.id }} ultimate-wrapper">
  <div class="swiper-ultimate-products">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="slide-content">
            {%- assign product = block.settings.product -%}

            <h2 class="title">{{ product.title }}</h2>

            <div class="product-media">
              {% if block.settings.product.variants.size > 1 %}
                <div class="swiper-ultimate-variants">
                  <div class="swiper-wrapper">
                    {% for variant in block.settings.product.variants %}
                      <div class="swiper-slide" data-variant-color="{{ variant.metafields.custom.color.value.color }}">
                        {{ variant.featured_media | image_url: width: 500, height: 500 | image_tag }}
                      </div>
                    {% endfor %}
                  </div>
                  <div class="swiper-ultimate-variants-pagination"></div>
                </div>
              {% else %}
                {{ product | image_url: width: 500, height: 500 | image_tag }}
              {% endif %}
            </div>

            <div class="description">
              <div class="weight">
                {{ product.variants.first.weight }}
                {{ product.variants.first.weight_unit }}
              </div>
              <p>{{ product.description | strip_html }}</p>
              {{ block.settings.key_features }}
              <button class="button-primary">Buy now {{ product.price | money }}</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="swiper-ultimate-controls">
      <div class="swiper-ultimate-prev"></div>
      <div class="swiper-ultimate-scrollbar"></div>
      <div class="swiper-ultimate-next"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Health ultimate product",
  "tag": "section",
  "class": "ultimate",
  "settings": [
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "select",
      "label": "Slider control position on desktop",
      "id": "slider_controls_position",
      "options": [
        { "label": "Left", "value": "row-reverse" },
        { "label": "Rifht", "value": "row" }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_slider_controls",
      "label": "Show slider controls"
    },
    {
      "type": "text",
      "id": "anchor_link",
      "label": "Anchor link"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "max": 100,
      "min": 0,
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Product slide",
      "type": "product-slide",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product title"
        },
        {
          "type": "text",
          "id": "product_description",
          "label": "Product description"
        },
        {
          "type": "richtext",
          "id": "key_features",
          "label": "Key features"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Health Ultimate products",
      "category": "custom"
    }
  ]
}
{% endschema %}
